.navbar-nav li{
    padding: 2px 4px;
    border-radius: 5px;
    transition: .5s ease;
    font-weight: bold;
    margin-right: 10px;
}
.navbar-nav li:hover{
    background-color: aliceblue;
    border-radius: 5px;
}
.navbar-nav li a.active:hover,
.navbar-nav li a:hover{
    color: rgb(0, 110, 37) !important;
}

.svg-design {
    color: aliceblue !important;
}

.bnr-img{
    height: 300px;
}

.bnr-title {
    color: aliceblue;
    z-index: 2;
}

.bnr-parent::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.slider-img{
    height: 500px;
}

.text-justify {
    text-align: justify;
}

.animated-border {
    position: relative;
}
.animated-border::before {
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid transparent;
    background:
        linear-gradient(90deg, #198754, #198754) top left / 0 2px no-repeat,
        linear-gradient(90deg, #198754, #198754) bottom right / 0 2px no-repeat,
        linear-gradient(180deg, #198754, #198754) top right / 2px 0 no-repeat,
        linear-gradient(180deg, #198754, #198754) bottom left / 2px 0 no-repeat;
    transition: all 1.5s ease;
}
.animated-border:hover::before {
    background-size:
        100% 2px,
        100% 2px,
        2px 100%,
        2px 100%;
}

.card {
    transition: .5s ease;
    overflow: hidden;
}

.card:hover{
    border: 1px solid green;
    transform: translateY(-5px);
}

.card_img {
    transition: .9s ease;
}
.card_img:hover{
    transform: scale(1.2);
}